[submodule "unitized"]
	path = unitized
	url = https://github.com/jedwards1211/unitized
[submodule "compass-parser"]
	path = compass-parser
	url = https://github.com/jedwards1211/compass-parser-java
[submodule "segment"]
	path = segment
	url = http://github.com/jedwards1211/segment-java
[submodule "dewalls-java"]
	path = dewalls-java
	url = https://github.com/wallscavesurvey/dewalls-java
