{
  "extends": ["@jedwards1211/eslint-config-react", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "commonjs": true,
    "shared-node-browser": true
  },
  "globals": {
    "process": false
  }
}
